/* Fonts */
@font-face { 
    font-family: "SSExbFLF";
    src: url("./assets/fonts/sansserifexbflf-italic.otf");
}

/* General */
body, html { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

*, *::before, *::after { 
    box-sizing: inherit;
}

h1, h2, h3, h4, h5 { 
    margin: 0;
}